body {
  background-color: rgba(55, 55, 70, 0.74);
}

main {
  background: rgb(172, 174, 194);
  width: 350px;
  border-radius: 3%;
  height: 300px;
}

#submit-button {
  border: none;
  border-radius: 3.5%;
  height: 40px;
  line-height: 20px;
  font-weight: 600;
}
