body {
  background-color: rgba(55, 55, 70, 0.74);
  padding: 13% 35%;

}

main {
  background: rgb(172, 174, 194);
  width: 350px;
  border-radius: 3%;
  height: 300px;
  justify-items: center;
  padding: 10px 5px 20px 5px;
  width: 350px;
}

#login-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

#submit-button {
  border: none;
  border-radius: 3.5%;
  height: 40px;
  line-height: 20px;
  font-weight: 600;
}

a {
  color: blueviolet;
}
