body {
  background-color: rgba(55, 55, 70, 0.74);
  padding: 13% 35%;

}

main {
  background: rgb(172, 174, 194);
  width: 350px;
  border-radius: 3%;
  height: 300px;
  justify-items: center;
  padding: 10px 5px 20px 5px;
  width: 350px;
}

#login-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

h1 {
  font-family: "Tourney", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

#submit-button {
  border: none;
  border-radius: 3.5%;
  font-weight: 600;
  height: 40px;
  line-height: 20px;
  margin-bottom: 20px;
  margin-top: 5px;
  padding: 8px;
  width: 310px;
}

.input {
  width: 300px;
  margin: 10px 5px;
  padding: 8px 6px;
  border: none;
}

a {
  color: blueviolet;
}
